#calculator {
    display: flex;
    flex-direction: column;

    box-sizing: border-box;
    width: 250px;
    height: 350px;
    padding: 20px;
    margin: 50px auto;

    border: 5px grey outset;
    border-radius: 5%;

    background-color: lightgrey;
}
#top-buttons {
    display: flex;
}
#input-buttons {
    display: flex;
}

#number-buttons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5px;
}

#operation-buttons {
    display: flex;
    flex-direction: column;
}

button {
    font-size: 20px;
    padding: 0.5em;
}